$ui-navigation-treelist-background-color: dynamic(null);
$ui-navigation-treelist-padding: dynamic(null);
$ui-navigation-treelist-row-indicator-width: dynamic(null);
$ui-navigation-treelist-item-expander-color: dynamic(null);
$ui-navigation-treelist-item-expander-font-size: dynamic(null);
$ui-navigation-treelist-item-expander-font-size-big: dynamic(null);
$ui-navigation-treelist-item-expander-width: dynamic(null);
$ui-navigation-treelist-item-expander-width-big: dynamic(null);
$ui-navigation-treelist-item-text-color: dynamic(null);
$ui-navigation-treelist-item-text-font-size: dynamic(null);
$ui-navigation-treelist-item-icon-color: dynamic(null);
$ui-navigation-treelist-item-icon-font-size: dynamic(null);
$ui-navigation-treelist-item-icon-font-size-big: dynamic(null);
$ui-navigation-treelist-item-icon-width: dynamic(null);
$ui-navigation-treelist-item-icon-width-big: dynamic(null);
$ui-navigation-treelist-item-line-height: dynamic(null);
$ui-navigation-treelist-item-line-height-big: dynamic(null);
$ui-navigation-treelist-item-text-icon-gap: dynamic(null);
$ui-navigation-treelist-item-expander-over-color: dynamic(null);
$ui-navigation-treelist-item-icon-over-color: dynamic(null);
$ui-navigation-treelist-item-text-over-color: dynamic(null);
$ui-navigation-treelist-row-indicator-over-color: dynamic(null);
$ui-navigation-treelist-row-over-background-color: dynamic(null);
$ui-navigation-treelist-row-selected-over-background-color: dynamic(null);
$ui-navigation-treelist-row-indicator-selected-color: dynamic(null);
$ui-navigation-treelist-row-selected-background-color: dynamic(null);
$ui-navigation-treelist-item-expanded-background-color: dynamic(null);
$ui-navigation-treelist-item-expanded-child-background-color: dynamic(null);
$ui-navigation-treelist-tool-indicator-selected-color: dynamic(null);
$ui-navigation-treelist-tool-indicator-selected-width: dynamic(null);
$ui-navigation-treelist-toolstrip-background-color: dynamic(null);
$ui-navigation-treelist-tool-selected-background-color: dynamic(null);
$ui-navigation-treelist-tool-selected-color: dynamic(null);
$ui-phone-menu-button-button-color: dynamic(null);
$ui-phone-menu-button-button-font-family: dynamic(null);
$ui-phone-menu-button-button-font-size: dynamic(null);
$ui-phone-menu-button-button-font-size-big: dynamic(null);
$ui-phone-menu-button-button-font-weight: dynamic(null);
$ui-phone-menu-button-button-background-color: dynamic(null);
$ui-phone-menu-button-button-background-gradient: dynamic(null);
$ui-phone-menu-button-button-border-color: dynamic(null);
$ui-phone-menu-button-button-border-radius: dynamic(null);
$ui-phone-menu-button-button-border-radius-big: dynamic(null);
$ui-phone-menu-button-button-border-style: dynamic(null);
$ui-phone-menu-button-button-border-width: dynamic(null);
$ui-phone-menu-button-button-line-height: dynamic(null);
$ui-phone-menu-button-button-line-height-big: dynamic(null);
$ui-phone-menu-button-button-padding: dynamic(null);
$ui-phone-menu-button-button-padding-big: dynamic(null);
$ui-phone-menu-button-button-icon-horizontal-spacing: dynamic(null);
$ui-phone-menu-button-button-icon-horizontal-spacing-big: dynamic(null);
$ui-phone-menu-button-button-icon-vertical-spacing: dynamic(null);
$ui-phone-menu-button-button-icon-vertical-spacing-big: dynamic(null);
$ui-phone-menu-button-button-icon-color: dynamic(null);
$ui-phone-menu-button-button-icon-font-size: dynamic(null);
$ui-phone-menu-button-button-icon-font-size-big: dynamic(null);
$ui-phone-menu-button-button-pressed-background-color: dynamic(null);
$ui-phone-menu-button-button-pressed-background-gradient: dynamic(null);
$ui-phone-menu-button-button-pressed-border-color: dynamic(null);
$ui-phone-menu-button-button-pressed-color: dynamic(null);
$ui-phone-menu-button-button-pressed-icon-color: dynamic(null);
$ui-phone-menu-button-button-disabled-color: dynamic(null);
$ui-phone-menu-button-button-disabled-icon-color: dynamic(null);
$ui-phone-menu-button-button-disabled-opacity: dynamic(null);
$ui-phone-menu-button-button-badge-color: dynamic(null);
$ui-phone-menu-button-button-badge-font-family: dynamic(null);
$ui-phone-menu-button-button-badge-font-size: dynamic(null);
$ui-phone-menu-button-button-badge-font-weight: dynamic(null);
$ui-phone-menu-button-button-badge-bottom: dynamic(null);
$ui-phone-menu-button-button-badge-left: dynamic(null);
$ui-phone-menu-button-button-badge-right: dynamic(null);
$ui-phone-menu-button-button-badge-top: dynamic(null);
$ui-phone-menu-button-button-badge-background-color: dynamic(null);
$ui-phone-menu-button-button-badge-background-gradient: dynamic(null);
$ui-phone-menu-button-button-badge-border-radius: dynamic(null);
$ui-phone-menu-button-button-badge-line-height: dynamic(null);
$ui-phone-menu-button-button-badge-max-width: dynamic(null);
$ui-phone-menu-button-button-badge-min-width: dynamic(null);
$ui-phone-menu-button-button-badge-padding: dynamic(null);
$ui-attendees-button-button-color: dynamic(null);
$ui-attendees-button-button-font-family: dynamic(null);
$ui-attendees-button-button-font-size: dynamic(null);
$ui-attendees-button-button-font-size-big: dynamic(null);
$ui-attendees-button-button-font-weight: dynamic(null);
$ui-attendees-button-button-background-color: dynamic(null);
$ui-attendees-button-button-background-gradient: dynamic(null);
$ui-attendees-button-button-border-color: dynamic(null);
$ui-attendees-button-button-border-radius: dynamic(null);
$ui-attendees-button-button-border-radius-big: dynamic(null);
$ui-attendees-button-button-border-style: dynamic(null);
$ui-attendees-button-button-border-width: dynamic(null);
$ui-attendees-button-button-line-height: dynamic(null);
$ui-attendees-button-button-line-height-big: dynamic(null);
$ui-attendees-button-button-padding: dynamic(null);
$ui-attendees-button-button-padding-big: dynamic(null);
$ui-attendees-button-button-icon-horizontal-spacing: dynamic(null);
$ui-attendees-button-button-icon-horizontal-spacing-big: dynamic(null);
$ui-attendees-button-button-icon-vertical-spacing: dynamic(null);
$ui-attendees-button-button-icon-vertical-spacing-big: dynamic(null);
$ui-attendees-button-button-icon-color: dynamic(null);
$ui-attendees-button-button-icon-font-size: dynamic(null);
$ui-attendees-button-button-icon-font-size-big: dynamic(null);
$ui-attendees-button-button-pressed-background-color: dynamic(null);
$ui-attendees-button-button-pressed-background-gradient: dynamic(null);
$ui-attendees-button-button-pressed-border-color: dynamic(null);
$ui-attendees-button-button-pressed-color: dynamic(null);
$ui-attendees-button-button-pressed-icon-color: dynamic(null);
$ui-attendees-button-button-disabled-color: dynamic(null);
$ui-attendees-button-button-disabled-icon-color: dynamic(null);
$ui-attendees-button-button-disabled-opacity: dynamic(null);
$ui-attendees-button-button-badge-color: dynamic(null);
$ui-attendees-button-button-badge-font-family: dynamic(null);
$ui-attendees-button-button-badge-font-size: dynamic(null);
$ui-attendees-button-button-badge-font-weight: dynamic(null);
$ui-attendees-button-button-badge-bottom: dynamic(null);
$ui-attendees-button-button-badge-left: dynamic(null);
$ui-attendees-button-button-badge-right: dynamic(null);
$ui-attendees-button-button-badge-top: dynamic(null);
$ui-attendees-button-button-badge-background-color: dynamic(null);
$ui-attendees-button-button-badge-background-gradient: dynamic(null);
$ui-attendees-button-button-badge-border-radius: dynamic(null);
$ui-attendees-button-button-badge-line-height: dynamic(null);
$ui-attendees-button-button-badge-max-width: dynamic(null);
$ui-attendees-button-button-badge-min-width: dynamic(null);
$ui-attendees-button-button-badge-padding: dynamic(null);
$ui-attendees-toolbar-toolbar-font-family: dynamic(null);
$ui-attendees-toolbar-toolbar-font-size: dynamic(null);
$ui-attendees-toolbar-toolbar-font-size-big: dynamic(null);
$ui-attendees-toolbar-toolbar-font-weight: dynamic(null);
$ui-attendees-toolbar-toolbar-background-color: dynamic(null);
$ui-attendees-toolbar-toolbar-background-gradient: dynamic(null);
$ui-attendees-toolbar-toolbar-horizontal-spacing: dynamic(null);
$ui-attendees-toolbar-toolbar-horizontal-spacing-big: dynamic(null);
$ui-attendees-toolbar-toolbar-line-height: dynamic(null);
$ui-attendees-toolbar-toolbar-line-height-big: dynamic(null);
$ui-attendees-toolbar-toolbar-min-height: dynamic(null);
$ui-attendees-toolbar-toolbar-min-height-big: dynamic(null);
$ui-attendees-toolbar-toolbar-padding: dynamic(null);
$ui-attendees-toolbar-toolbar-padding-big: dynamic(null);
$ui-attendees-toolbar-toolbar-vertical-spacing: dynamic(null);
$ui-attendees-toolbar-toolbar-vertical-spacing-big: dynamic(null);
$ui-attendees-toolbar-toolbar-title-color: dynamic(null);
$ui-attendees-toolbar-toolbar-title-font-family: dynamic(null);
$ui-attendees-toolbar-toolbar-title-font-size: dynamic(null);
$ui-attendees-toolbar-toolbar-title-font-size-big: dynamic(null);
$ui-attendees-toolbar-toolbar-title-font-weight: dynamic(null);
$ui-attendees-toolbar-toolbar-title-padding: dynamic(null);
$ui-attendees-toolbar-toolbar-title-padding-big: dynamic(null);