.speakers-list .x-listitem-disclosure .x-icon-el {
    height: 1.667rem;
    width: 1.667rem;

    &::before {
        font-size: 1.375rem;
    }
}

.speaker-job {
    color: #a0a0a0;
    font-size: 0.85em;
}